{% extends 'base.html' %}
{% block title %}Register | swiftCRM{% endblock title %}
{% load static %}
{% block content %}
<div class="min-h-screen bg-white flex flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Create your account
        </h2>
        <p class="mt-2 text-center text-sm text-gray-600">
            Already have an account?
            <a href="{% url 'accounts:login' %}" class="font-medium text-indigo-600 hover:text-indigo-500">
                Sign in
            </a>
        </p>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
            <form class="space-y-6" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <!-- Username field -->
                <div>
                    <label for="{{ form.username.id_for_label }}" class="block text-sm font-medium text-gray-700">
                        Username
                    </label>
                    <div class="mt-1">
                        <input type="text" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" placeholder="Enter username"
                               class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                               {% if form.username.value %}value="{{ form.username.value }}"{% endif %}>
                    </div>
                    {% if form.username.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ form.username.errors.0 }}</p>
                    {% endif %}
                </div>

                <!-- Email field -->
                <div>
                    <label for="{{ form.email.id_for_label }}" class="block text-sm font-medium text-gray-700">
                        Email address
                    </label>
                    <div class="mt-1">
                        <input type="email" placeholder="Enter email" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }} "
                               class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                               {% if form.email.value %}value="{{ form.email.value }}"{% endif %}>
                    </div>
                    {% if form.email.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ form.email.errors.0 }}</p>
                    {% endif %}
                </div>

                <!-- Profile Picture field -->
                <div>
                    <label for="{{ form.profile_picture.id_for_label }}" class="block text-sm font-medium text-gray-700">
                        Profile Picture
                    </label>
                    <div class="mt-1">
                        <input type="file" name="{{ form.profile_picture.html_name }}" id="{{ form.profile_picture.id_for_label }}"
                               class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    </div>
                    {% if form.profile_picture.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ form.profile_picture.errors.0 }}</p>
                    {% endif %}
                </div>

                <!-- Role field -->
                <div>
                    <label for="{{ form.role.id_for_label }}" class="block text-sm font-medium text-gray-700">
                        Role
                    </label>
                    <div class="mt-1">
                        <select name="{{ form.role.html_name }}" id="{{ form.role.id_for_label }}"
                                class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                            {% for choice in form.role.field.choices %}
                                <option value="{{ choice.0 }}" {% if form.role.value == choice.0 %}selected{% endif %}>
                                    {{ choice.1 }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% if form.role.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ form.role.errors.0 }}</p>
                    {% endif %}
                </div>

                <!-- Password field -->
                <div>
                    <label for="{{ form.password1.id_for_label }}" class="block text-sm font-medium text-gray-700">
                        Password
                    </label>
                    <div class="mt-1">
                        <input type="password" placeholder="Enter password" name="{{ form.password1.html_name }}" id="{{ form.password1.id_for_label }} "
                               class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    </div>
                    {% if form.password1.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ form.password1.errors.0 }}</p>
                    {% endif %}
                </div>

                <!-- Confirm Password field -->
                <div>
                    <label for="{{ form.password2.id_for_label }}" class="block text-sm font-medium text-gray-700">
                        Confirm Password
                    </label>
                    <div class="mt-1">
                        <input type="password" placeholder="Confirm password" name="{{ form.password2.html_name }}" id="{{ form.password2.id_for_label }} "
                               class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                    </div>
                    {% if form.password2.errors %}
                        <p class="mt-2 text-sm text-red-600">{{ form.password2.errors.0 }}</p>
                    {% endif %}
                </div>

                <div>
                    <button type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                        Register
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
